.bg-lime {
  background-color: limegreen;
  border-radius: 20px; }

body {
  background-image: url(../assets/img/fondotrebol.jpg);
  overflow-x: hidden; }

main {
  background-color: white;
  border-radius: 20px; }

.gradi {
  background-image: linear-gradient(to top, darkgreen, limegreen, darkcyan); }

.h1 {
  display: flex;
  justify-content: center;
  background-color: green;
  color: white; }

.h2 {
  background-color: green;
  color: white; }

footer {
  font-family: 'Lobster', cursive; }

body {
  font-family: 'Ubuntu', sans-serif; }

.border {
  border-top: 20px double black;
  margin-top: 20px; }

.marginTop-1 {
  margin-top: 5px; }

.marginTop-2 {
  margin-top: 10px; }

.marginTop-3 {
  margin-top: 15px; }

.marginTop-4 {
  margin-top: 20px; }

.marginTop-5 {
  margin-top: 25px; }

.marginTop-6 {
  margin-top: 30px; }

.marginTop-7 {
  margin-top: 35px; }

.marginTop-8 {
  margin-top: 40px; }

.marginTop-9 {
  margin-top: 45px; }

.marginTop-10 {
  margin-top: 50px; }

.marginBo-1 {
  margin-bottom: 5px; }

.marginBo-2 {
  margin-bottom: 10px; }

.marginBo-3 {
  margin-bottom: 15px; }

.marginBo-4 {
  margin-bottom: 20px; }

.marginBo-5 {
  margin-bottom: 25px; }

.marginBo-6 {
  margin-bottom: 30px; }

.marginBo-7 {
  margin-bottom: 35px; }

.marginBo-8 {
  margin-bottom: 40px; }

.marginBo-9 {
  margin-bottom: 45px; }

.marginBo-10 {
  margin-bottom: 50px; }

.pro1 {
  border-radius: 5px;
  background-color: #bb695b;
  color: white; }

.pro2 {
  border-radius: 5px;
  background-color: #c5b39c;
  color: black; }

.subti_nos h2 {
  border-top: solid 3px #208b20;
  border-bottom: solid 3px #208b20; }

.botones, .boton_enviar, .boton_clear {
  color: black;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px; }

.boton_enviar {
  background-color: #06c706b6; }

.boton_clear {
  background-color: #00b3b3cb; }

.logo {
  width: 90px; }

.img_pro {
  width: 100px; }

.img_proM {
  width: 100px; }

.img_pro1 {
  width: 120px; }

.img_index {
  width: 1335px;
  height: 500px; }

.img_blog {
  width: 400px; }
