.marginProductos {
	margin-top: $marginProCont;
}
.margin_producto2 {
	margin-top: $marginPro2;
}
.margin_blog p {
	margin-bottom: $marginBlog;
}
.margin_con {
	margin-top: $marginProCont;
}

.h2 {
	margin-bottom: $marginBottom;
}